In [1]:
#Задание 1.3
#Для датасета California Housing:
#Разбейте датасет на тренировочную, валидационную и тестовую выборку
#Проведите преобразование категориального признака ocean_proximity через OneHot или Dummy-кодировку
#Замените признаки total_rooms и total_bedrooms на average_rooms и average_bedrooms (поделив на households).
#В признаке average_bedrooms (total_bedrooms) есть отсутствующие значения. 
#Определите число экземпляров данных, для которых этот признак отсутствует. 
#Придумайте и обоснуйте стратегию заполнения пропусков в этой задаче. Заполните пропуски.
#Нормализуйте признаки longitude и latitude

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

In [3]:
housing_df = pd.read_csv('CSV_files/housing.csv')
housing_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [4]:
#Преобразование категориального признака ocean_proximity через Dummy-кодировку
DUMMY_SEP = '__'  #Сепаратор

housing_df = pd.get_dummies(housing_df, columns = ['ocean_proximity'], prefix_sep = DUMMY_SEP)
housing_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,0,0,0,1,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,0,0,0,1,0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,0,0,0,1,0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,0,0,0,1,0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,0,1,0,0,0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,0,1,0,0,0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,0,1,0,0,0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,0,1,0,0,0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,0,1,0,0,0

In [5]:
#Замена признаков total_rooms и total_bedrooms на average_rooms и average_bedrooms (поделив на households)
housing_df['average_rooms'] = housing_df['total_rooms'] / housing_df['households']
housing_df['average_bedrooms'] = housing_df['total_bedrooms'] / housing_df['households']

housing_df = housing_df.drop('total_rooms', axis = 1)
housing_df = housing_df.drop('total_bedrooms', axis = 1)

In [6]:
#Определить число экземпляров данных, для которых отсутствует признак average_bedrooms
average_bedrooms_blank = sum(housing_df['average_bedrooms'].isnull())
average_bedrooms_blank

207

In [7]:
#Придумать и обосновать стратегию заполнения пропусков. Заполнить пропуски.

#Разбиение дата-сета на тренировочную, валидационную и тестовую выборку

housing_train_val, housing_test =  train_test_split( housing_df, test_size = 0.1)
housing_train, housing_val =  train_test_split( housing_train_val, test_size = 0.1)

housing_train_without_MHV = housing_train.drop('median_house_value', axis = 1).dropna(axis = 0)
housing_test_without_MHV = housing_test.drop('median_house_value', axis = 1).dropna(axis = 0)
housing_val_without_MHV = housing_val.drop('median_house_value', axis = 1).dropna(axis = 0)

x_train = housing_train_without_MHV.drop('average_bedrooms', axis = 1)  #Вход для тренировочной
y_train = housing_train_without_MHV['average_bedrooms']   #Выход для тренировочной

x_test = housing_test_without_MHV.drop('average_bedrooms', axis = 1)   #Вход для тестовой
y_test = housing_test_without_MHV['average_bedrooms']   #Выход для тестовой

#Модель линейной регрессии
linear_regression_model = LinearRegression()

#Обучение модели с помощью fit
linear_regression_model.fit(x_train, y_train)

LinearRegression()

In [8]:
housing_train['average_bedrooms'].isnull().sum()

164

In [9]:
housing_val

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms,average_bedrooms
5665,-118.29,33.73,30.0,1865.0,771.0,2.7139,231700.0,0,0,0,0,1,4.099870,NaN
1866,-119.94,38.96,20.0,467.0,255.0,1.5536,212500.0,0,1,0,0,0,5.690196,1.513725
221,-122.21,37.80,39.0,1221.0,446.0,3.0757,151000.0,0,0,0,1,0,4.524664,1.002242
9538,-120.71,37.39,11.0,1476.0,327.0,3.2721,73800.0,0,1,0,0,0,4.522936,1.042813
8113,-118.20,33.80,52.0,1090.0,430.0,2.8988,194900.0,0,0,0,0,1,4.153488,1.034884
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17388,-120.45,34.97,25.0,1434.0,388.0,3.0368,129300.0,1,0,0,0,0,4.948454,0.979381
994,-121.73,37.71,12.0,2595.0,1067.0,3.9864,200200.0,0,1,0,0,0,5.255858,0.983130
18266,-122.07,37.37,30.0,1097.0,407.0,7.9813,473500.0,0,0,0,1,0,7.216216,1.000000
17229,-119.69,34.44,41.0,666.0,269.0,6.8406,500001.0,1,0,0,0,0,7.394052,1.007435
16047,-122.46,37.71,49.0,1138.0,325.0,2.8750,225000.0,0,0,0,0,1,5.264615,1.070769

In [10]:
housing_test

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms,average_bedrooms
1415,-122.09,37.94,29.0,2634.0,1022.0,6.1922,273200.0,0,0,0,1,0,6.746575,1.000000
19785,-122.79,40.75,17.0,1352.0,560.0,2.1250,71700.0,0,1,0,0,0,6.876786,1.460714
11766,-121.27,38.75,21.0,1985.0,1045.0,2.5083,128500.0,0,1,0,0,0,4.604785,1.068900
9896,-122.26,38.29,10.0,482.0,180.0,6.5799,218100.0,0,0,0,1,0,5.383333,0.888889
9312,-122.51,37.99,32.0,1541.0,626.0,5.5791,433300.0,0,0,0,1,0,6.610224,1.009585
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16578,-121.43,37.74,52.0,426.0,179.0,3.0865,119800.0,0,1,0,0,0,4.893855,0.949721
14951,-116.96,32.71,18.0,1129.0,551.0,2.4567,155000.0,1,0,0,0,0,4.379310,0.967332
9530,-123.10,38.97,36.0,697.0,251.0,2.5761,94900.0,1,0,0,0,0,4.824701,0.984064
5477,-118.45,34.00,46.0,896.0,334.0,4.4500,348300.0,1,0,0,0,0,5.320359,1.083832
3949,-118.61,34.21,33.0,1208.0,406.0,5.4527,227100.0,1,0,0,0,0,6.426108,1.061576

In [11]:
#Абсолютная оценка регрессионной модели
mean_absolute_error(y_train, linear_regression_model.predict(x_train))

0.11302488300101907

In [12]:
#Среднеквадратическая оценка регрессионной модели 
mean_squared_error(y_train, linear_regression_model.predict(x_train))

0.03143615027880195

In [13]:
#Поля с незаполненными значениями
housing_train_blank = housing_train['average_bedrooms'].isnull()
housing_test_blank = housing_test['average_bedrooms'].isnull()
housing_val_blank = housing_val['average_bedrooms'].isnull()

filling_train = housing_train.loc[housing_train_blank].drop('median_house_value',axis=1).drop('average_bedrooms', axis = 1)
filling_test = housing_test.loc[housing_test_blank].drop('median_house_value',axis=1).drop('average_bedrooms', axis = 1)
filling_val = housing_val.loc[housing_val_blank].drop('median_house_value',axis=1).drop('average_bedrooms', axis = 1)

housing_train.loc[housing_train_blank, 'average_bedrooms' ] = linear_regression_model.predict(filling_train)
housing_test.loc[housing_test_blank, 'average_bedrooms' ] = linear_regression_model.predict(filling_test)
housing_val.loc[housing_val_blank, 'average_bedrooms' ] = linear_regression_model.predict(filling_val)

housing_train['average_bedrooms'].isnull().sum()

0

In [14]:
#Нормализация признаков longitude и latitude:
#(сделать так, чтобы каждый признак имел среднее значение 0 и дисперсию 1 внутри обучающей выборки)

#Для нормализации данных можно воспользоваться функцией StandardScaler из sklearn.preprocessing. 
#Данные преобразуются так, что их распределение имеет среднее значение 0 и стандартное отклонение 1 (корень из дисперсии).

scale_longitude = preprocessing.StandardScaler().fit(housing_train[['longitude']])
scale_latitude = preprocessing.StandardScaler().fit(housing_train[['latitude']])

#Тренировочная выборка
housing_train['longitude'] = scale_longitude.transform(housing_train[['longitude']]).reshape(-1)
housing_train['latitude'] = scale_latitude.transform(housing_train[['latitude']]).reshape(-1)

#Валидационная выборка
housing_val['longitude'] = scale_longitude.transform(housing_val[['longitude']]).reshape(-1)
housing_val['latitude'] = scale_latitude.transform(housing_val[['latitude']]).reshape(-1)

#Тестовая выборка
housing_test['longitude'] = scale_longitude.transform(housing_test[['longitude']]).reshape(-1)
housing_test['latitude'] = scale_latitude.transform(housing_test[['latitude']]).reshape(-1)

print(housing_train['longitude'].to_numpy().mean(axis = 0))
print(housing_train['longitude'].to_numpy().std(axis = 0))

print(housing_test['longitude'].to_numpy().mean(axis = 0))
print(housing_test['longitude'].to_numpy().std(axis = 0))

3.2122753899239367e-15
1.0
0.015709995561209392
0.9998323489988702

In [15]:
housing_test

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms,average_bedrooms
1415,-1.255870,1.081648,29.0,2634.0,1022.0,6.1922,273200.0,0,0,0,1,0,6.746575,1.000000
19785,-1.605507,2.400012,17.0,1352.0,560.0,2.1250,71700.0,0,1,0,0,0,6.876786,1.460714
11766,-0.846295,1.461675,21.0,1985.0,1045.0,2.5083,128500.0,0,1,0,0,0,4.604785,1.068900
9896,-1.340782,1.245857,10.0,482.0,180.0,6.5799,218100.0,0,0,0,1,0,5.383333,0.888889
9312,-1.465652,1.105107,32.0,1541.0,626.0,5.5791,433300.0,0,0,0,1,0,6.610224,1.009585
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16578,-0.926212,0.987814,52.0,426.0,179.0,3.0865,119800.0,0,1,0,0,0,4.893855,0.949721
14951,1.306470,-1.372104,18.0,1129.0,551.0,2.4567,155000.0,1,0,0,0,0,4.379310,0.967332
9530,-1.760346,1.564892,36.0,697.0,251.0,2.5761,94900.0,1,0,0,0,0,4.824701,0.984064
5477,0.562243,-0.766877,46.0,896.0,334.0,4.4500,348300.0,1,0,0,0,0,5.320359,1.083832
3949,0.482326,-0.668351,33.0,1208.0,406.0,5.4527,227100.0,1,0,0,0,0,6.426108,1.061576

In [16]:
housing_train

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms,average_bedrooms
12568,-0.921217,1.363149,29.0,1071.0,470.0,2.9250,94300.0,0,1,0,0,0,5.017021,1.048936
16457,-0.856285,1.170790,20.0,1390.0,490.0,5.0000,154800.0,0,1,0,0,0,6.465306,1.048980
18125,-1.225901,0.795455,23.0,1782.0,641.0,7.4863,412300.0,1,0,0,0,0,6.585023,1.046802
4634,0.637165,-0.734035,28.0,5840.0,2374.0,1.8829,300000.0,1,0,0,0,0,2.199242,1.065712
6134,0.787010,-0.734035,34.0,1609.0,426.0,2.2500,138500.0,0,1,0,0,0,3.981221,1.070423
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9946,-1.395725,1.264624,29.0,764.0,284.0,4.8250,195100.0,0,0,0,1,0,6.577465,1.024648
18572,-1.086046,0.598404,52.0,1102.0,392.0,1.6875,161400.0,1,0,0,0,0,3.089286,1.140306
16590,-0.931207,0.987814,25.0,370.0,106.0,3.1319,112500.0,0,1,0,0,0,4.301887,1.094340
17069,-1.335787,0.889289,16.0,1677.0,623.0,7.6864,422500.0,0,0,0,1,0,7.107544,1.065811
13820,1.161621,-0.536984,4.0,1017.0,322.0,5.1112,170900.0,0,1,0,0,0,7.366460,1.121118

In [17]:
housing_val

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms,average_bedrooms
5665,0.642160,-0.893552,30.0,1865.0,771.0,2.7139,231700.0,0,0,0,0,1,4.099870,1.026552
1866,-0.181984,1.560200,20.0,467.0,255.0,1.5536,212500.0,0,1,0,0,0,5.690196,1.513725
221,-1.315808,1.015964,39.0,1221.0,446.0,3.0757,151000.0,0,0,0,1,0,4.524664,1.002242
9538,-0.566585,0.823605,11.0,1476.0,327.0,3.2721,73800.0,0,1,0,0,0,4.522936,1.042813
8113,0.687113,-0.860711,52.0,1090.0,430.0,2.8988,194900.0,0,0,0,0,1,4.153488,1.034884
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17388,-0.436720,-0.311783,25.0,1434.0,388.0,3.0368,129300.0,1,0,0,0,0,4.948454,0.979381
994,-1.076056,0.973739,12.0,2595.0,1067.0,3.9864,200200.0,0,1,0,0,0,5.255858,0.983130
18266,-1.245880,0.814222,30.0,1097.0,407.0,7.9813,473500.0,0,0,0,1,0,7.216216,1.000000
17229,-0.057114,-0.560443,41.0,666.0,269.0,6.8406,500001.0,1,0,0,0,0,7.394052,1.007435
16047,-1.440678,0.973739,49.0,1138.0,325.0,2.8750,225000.0,0,0,0,0,1,5.264615,1.070769