In [1]:
#Задание 1.3
#Для датасета California Housing:
#Разбейте датасет на тренировочную, валидационную и тестовую выборку
#Проведите преобразование категориального признака ocean_proximity через OneHot или Dummy-кодировку
#Замените признаки total_rooms и total_bedrooms на average_rooms и average_bedrooms (поделив на households).
#В признаке average_bedrooms (total_bedrooms) есть отсутствующие значения. 
#Определите число экземпляров данных, для которых этот признак отсутствует. 
#Придумайте и обоснуйте стратегию заполнения пропусков в этой задаче. Заполните пропуски.
#Нормализуйте признаки longitude и latitude

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

In [3]:
housing_df = pd.read_csv('CSV_files/housing.csv')
housing_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [4]:
#Преобразование категориального признака ocean_proximity через Dummy-кодировку
DUMMY_SEP = '__'  #Сепаратор

housing_df = pd.get_dummies(housing_df, columns = ['ocean_proximity'], prefix_sep = DUMMY_SEP)
housing_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,0,0,0,1,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,0,0,0,1,0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,0,0,0,1,0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,0,0,0,1,0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,0,1,0,0,0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,0,1,0,0,0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,0,1,0,0,0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,0,1,0,0,0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,0,1,0,0,0

In [5]:
#Замена признаков total_rooms и total_bedrooms на average_rooms и average_bedrooms (поделив на households)
housing_df['average_rooms'] = housing_df['total_rooms'] / housing_df['households']
housing_df['average_bedrooms'] = housing_df['total_bedrooms'] / housing_df['households']

housing_df = housing_df.drop('total_rooms', axis = 1)
housing_df = housing_df.drop('total_bedrooms', axis = 1)

housing_df.head(294)
#Пример: признак отсутствует у поля 290

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms,average_bedrooms
0,-122.23,37.88,41.0,322.0,126.0,8.3252,452600.0,0,0,0,1,0,6.984127,1.023810
1,-122.22,37.86,21.0,2401.0,1138.0,8.3014,358500.0,0,0,0,1,0,6.238137,0.971880
2,-122.24,37.85,52.0,496.0,177.0,7.2574,352100.0,0,0,0,1,0,8.288136,1.073446
3,-122.25,37.85,52.0,558.0,219.0,5.6431,341300.0,0,0,0,1,0,5.817352,1.073059
4,-122.25,37.85,52.0,565.0,259.0,3.8462,342200.0,0,0,0,1,0,6.281853,1.081081
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,-122.17,37.78,52.0,296.0,121.0,4.1750,144000.0,0,0,0,1,0,5.396694,1.057851
290,-122.16,37.77,47.0,570.0,218.0,4.3750,161900.0,0,0,0,1,0,5.761468,NaN
291,-122.16,37.77,48.0,446.0,180.0,4.7708,156300.0,0,0,0,1,0,5.427778,1.077778
292,-122.16,37.77,45.0,968.0,384.0,3.5739,176000.0,0,0,0,1,0,6.052083,1.033854
293,-122.16,37.77,39.0,857.0,316.0,3.0958,145800.0,0,0,0,1,0,5.009494,1.104430

In [6]:
#Определить число экземпляров данных, для которых отсутствует признак average_bedrooms
average_bedrooms_blank = sum(housing_df['average_bedrooms'].isnull())
average_bedrooms_blank

207

In [7]:
#Придумать и обосновать стратегию заполнения пропусков. Заполнить пропуски.

#Разбиение дата-сета на тренировочную, валидационную и тестовую выборку

housing_train_val, housing_test =  train_test_split( housing_df, test_size = 0.1)
housing_train, housing_val =  train_test_split( housing_train_val, test_size = 0.1)

housing_train = housing_train.dropna(axis=0).drop('median_house_value',axis=1)

x_train = housing_train.drop('average_bedrooms', axis = 1)  #Вход для тренировочной

y_train = housing_train['average_bedrooms']   #Выход для тренировочной


x_test = housing_test.drop('average_bedrooms', axis = 1)   #Вход для тестовой
x_test = x_test.dropna(axis=0).drop('median_house_value',axis=1)

y_test = housing_test['average_bedrooms']   #Выход для тестовой
y_test = y_test.dropna(axis = 0) 

#Модель линейной регрессии
linear_regression_model = LinearRegression()

#Обучение модели с помощью fit
linear_regression_model.fit(x_train, y_train)

LinearRegression()

In [8]:
#Абсолютная оценка регрессионной модели
mean_absolute_error(y_train, linear_regression_model.predict(x_train))

0.11339158418070944

In [9]:
#Среднеквадратическая оценка регрессионной модели 
mean_squared_error(y_train, linear_regression_model.predict(x_train))

0.030964372029612712

In [10]:
#Записи, для которых отсутсвтует признак 'average_bedrooms' (только столбец 'average_bedrooms', булевые значения)
housing_df_blank_bool = housing_df['average_bedrooms'].isnull()
housing_df_blank_bool

0        False
1        False
2        False
3        False
4        False
         ...
20635    False
20636    False
20637    False
20638    False
20639    False
Name: average_bedrooms, Length: 20640, dtype: bool

In [11]:
#Полные записи, для которых отсутсвтует признак 'average_bedrooms'
housing_df_blank = housing_df.loc[housing_df_blank_bool]
housing_df_blank

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms,average_bedrooms
290,-122.16,37.77,47.0,570.0,218.0,4.3750,161900.0,0,0,0,1,0,5.761468,NaN
341,-122.17,37.75,38.0,732.0,259.0,1.6196,85100.0,0,0,0,1,0,3.830116,NaN
538,-122.28,37.78,29.0,3741.0,1273.0,2.5762,173400.0,0,0,0,1,0,4.048704,NaN
563,-122.24,37.75,45.0,384.0,146.0,4.9489,247100.0,0,0,0,1,0,6.102740,NaN
696,-122.10,37.69,41.0,387.0,161.0,3.9063,178400.0,0,0,0,1,0,4.633540,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20267,-119.19,34.20,18.0,3171.0,779.0,3.3409,220500.0,0,0,0,0,1,4.646983,NaN
20268,-119.18,34.19,19.0,1938.0,762.0,1.6953,167400.0,0,0,0,0,1,3.140420,NaN
20372,-118.88,34.17,15.0,1701.0,669.0,5.1033,410700.0,1,0,0,0,0,6.367713,NaN
20460,-118.75,34.29,17.0,2734.0,814.0,6.6073,258100.0,1,0,0,0,0,6.771499,NaN
20484,-118.72,34.28,17.0,1705.0,495.0,5.7376,218600.0,1,0,0,0,0,6.163636,NaN

In [12]:
#Отбрасываем признаки 'median_house_value' и 'average_bedrooms'
housing_df_blank = housing_df_blank.drop(['median_house_value', 'average_bedrooms'], axis = 1)
housing_df_blank

,longitude,latitude,housing_median_age,population,households,median_income,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms
290,-122.16,37.77,47.0,570.0,218.0,4.3750,0,0,0,1,0,5.761468
341,-122.17,37.75,38.0,732.0,259.0,1.6196,0,0,0,1,0,3.830116
538,-122.28,37.78,29.0,3741.0,1273.0,2.5762,0,0,0,1,0,4.048704
563,-122.24,37.75,45.0,384.0,146.0,4.9489,0,0,0,1,0,6.102740
696,-122.10,37.69,41.0,387.0,161.0,3.9063,0,0,0,1,0,4.633540
...,...,...,...,...,...,...,...,...,...,...,...,...
20267,-119.19,34.20,18.0,3171.0,779.0,3.3409,0,0,0,0,1,4.646983
20268,-119.18,34.19,19.0,1938.0,762.0,1.6953,0,0,0,0,1,3.140420
20372,-118.88,34.17,15.0,1701.0,669.0,5.1033,1,0,0,0,0,6.367713
20460,-118.75,34.29,17.0,2734.0,814.0,6.6073,1,0,0,0,0,6.771499
20484,-118.72,34.28,17.0,1705.0,495.0,5.7376,1,0,0,0,0,6.163636

In [13]:
#Заполнение пропусков в задаче
#Массив полученных с помощью регрессии данных для заполнения 207 пустых значений
predictions_av_bedrooms = linear_regression_model.predict(housing_df_blank)
predictions_av_bedrooms

array([1.12977543, 1.04060515, 1.00010645, 1.13267308, 0.95622805,
       1.13404658, 1.056831  , 0.98063978, 1.05569088, 1.21869467,
       1.12082104, 0.96283644, 1.13023835, 1.06689523, 0.98632589,
       1.15046215, 1.00415222, 0.99776648, 0.88499773, 1.3072568 ,
       1.16994354, 1.25815467, 1.18956252, 1.10660584, 1.89039729,
       1.10001809, 0.889376  , 0.83719629, 1.09217559, 0.92862993,
       1.07282271, 1.05794219, 1.10188489, 1.15299162, 0.70385977,
       1.16432422, 0.92499049, 0.91095328, 0.78319468, 1.03781871,
       0.83591081, 1.00716029, 0.90174261, 0.77840565, 0.81567771,
       0.8202731 , 0.81415074, 1.01264035, 0.71251301, 1.18559226,
       1.18300364, 0.99037399, 1.41396931, 1.14215672, 1.07374016,
       1.19090672, 0.93990617, 1.04845712, 1.02119797, 1.06769944,
       0.98029567, 0.97079706, 1.04822356, 1.19628347, 1.1474995 ,
       1.19149474, 1.10516702, 1.1201347 , 0.99189816, 1.05333825,
       1.04332246, 0.62160728, 0.98323318, 0.88910191, 0.99222797,
       1.22878079, 1.16798033, 0.98072358, 0.89252739, 0.93636425,
       0.93325427, 0.88789289, 1.14629381, 1.06265957, 1.06179383,
       1.19111614, 0.94066277, 1.21762321, 0.96564008, 1.17410307,
       1.04407453, 1.25007422, 1.08535978, 1.2377105 , 1.10043165,
       1.15145245, 0.8545603 , 1.02070033, 1.20458316, 1.2535505 ,
       1.09539238, 1.0211667 , 0.87785388, 1.2765276 , 0.96270253,
       1.17979057, 1.06332246, 0.80119932, 1.06297914, 1.00311089,
       1.1643176 , 1.20596726, 0.9344166 , 0.92304778, 1.18721414,
       0.8364112 , 1.19574269, 1.12300535, 0.89941098, 1.01894507,
       0.91098795, 1.38707852, 0.85372463, 0.91496306, 1.03910507,
       0.9063072 , 0.82370652, 1.27902819, 1.23899525, 1.18156889,
       2.05177944, 1.62198414, 1.19898397, 1.28964674, 1.10342285,
       1.1894566 , 0.90862939, 0.96904067, 1.02244265, 0.96885442,
       0.96195632, 1.16694562, 1.223066  , 1.12408463, 1.15700049,
       1.14928309, 1.23839823, 1.25349761, 1.07137504, 1.39869559,
       0.89055735, 0.96333712, 1.4200476 , 0.91379437, 0.89042574,
       1.21945766, 0.95322635, 1.08244519, 1.14360842, 0.77107115,
       0.87045242, 1.04860368, 1.12481361, 1.0417461 , 0.83460113,
       1.02141149, 1.25245699, 0.83204585, 0.9625754 , 0.97225337,
       1.00937847, 1.02284812, 1.01747027, 0.7485362 , 0.93840198,
       0.86189846, 1.11007056, 1.02190609, 1.15527587, 1.19678325,
       1.19942064, 1.26613056, 1.24345306, 1.13813204, 1.20093465,
       1.11836659, 1.17855256, 0.87654597, 0.96205839, 0.97464894,
       0.99370487, 1.00689975, 1.14723786, 1.14441363, 0.98632838,
       0.9792206 , 1.20464574, 0.93097995, 1.2222702 , 0.98541838,
       1.06282569, 1.11019747, 0.99557549, 0.93123918, 1.21158084,
       1.10328535, 1.07373315])

In [14]:
housing_df.loc[housing_df_blank_bool, 'average_bedrooms'] = predictions_av_bedrooms

In [15]:
housing_df.head(294)
#Пример для поля 290, заполнилось значением 1.128418

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms,average_bedrooms
0,-122.23,37.88,41.0,322.0,126.0,8.3252,452600.0,0,0,0,1,0,6.984127,1.023810
1,-122.22,37.86,21.0,2401.0,1138.0,8.3014,358500.0,0,0,0,1,0,6.238137,0.971880
2,-122.24,37.85,52.0,496.0,177.0,7.2574,352100.0,0,0,0,1,0,8.288136,1.073446
3,-122.25,37.85,52.0,558.0,219.0,5.6431,341300.0,0,0,0,1,0,5.817352,1.073059
4,-122.25,37.85,52.0,565.0,259.0,3.8462,342200.0,0,0,0,1,0,6.281853,1.081081
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,-122.17,37.78,52.0,296.0,121.0,4.1750,144000.0,0,0,0,1,0,5.396694,1.057851
290,-122.16,37.77,47.0,570.0,218.0,4.3750,161900.0,0,0,0,1,0,5.761468,1.129775
291,-122.16,37.77,48.0,446.0,180.0,4.7708,156300.0,0,0,0,1,0,5.427778,1.077778
292,-122.16,37.77,45.0,968.0,384.0,3.5739,176000.0,0,0,0,1,0,6.052083,1.033854
293,-122.16,37.77,39.0,857.0,316.0,3.0958,145800.0,0,0,0,1,0,5.009494,1.104430

In [16]:
#Нормализация признаков longitude и latitude:
#(сделать так, чтобы каждый признак имел среднее значение 0 и дисперсию 1 внутри обучающей выборки)

#Для нормализации данных можно воспользоваться функцией StandardScaler из sklearn.preprocessing. 
#Данные преобразуются так, что их распределение имеет среднее значение 0 и стандартное отклонение 1 (корень из дисперсии).

scale_longitude = preprocessing.StandardScaler().fit(housing_train[['longitude']])
scale_latitude = preprocessing.StandardScaler().fit(housing_train[['latitude']])

#Тренировочная выборка
housing_train['longitude'] = scale_longitude.transform(housing_train[['longitude']]).reshape(-1)
housing_train['latitude'] = scale_latitude.transform(housing_train[['latitude']]).reshape(-1)

#Валидационная выборка
housing_val['longitude'] = scale_longitude.transform(housing_val[['longitude']]).reshape(-1)
housing_val['latitude'] = scale_latitude.transform(housing_val[['latitude']]).reshape(-1)

#Тестовая выборка
housing_test['longitude'] = scale_longitude.transform(housing_test[['longitude']]).reshape(-1)
housing_test['latitude'] = scale_latitude.transform(housing_test[['latitude']]).reshape(-1)

print(housing_train['longitude'].to_numpy().mean(axis = 0))
print(housing_train['longitude'].to_numpy().std(axis = 0))

print(housing_test['longitude'].to_numpy().mean(axis = 0))
print(housing_test['longitude'].to_numpy().std(axis = 0))

-4.240979521975154e-15
0.9999999999999999
0.034252423765217185
1.005003577535281

In [18]:
housing_test

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms,average_bedrooms
15602,1.405355,-1.309631,16.0,1627.0,624.0,3.1196,187200.0,1,0,0,0,0,5.306090,1.125000
13949,1.180571,-0.664269,31.0,1408.0,504.0,5.0000,161100.0,0,1,0,0,0,10.821429,2.089286
19553,-0.712614,0.925751,28.0,1043.0,357.0,1.0801,75000.0,0,1,0,0,0,3.229692,1.176471
13009,-0.857475,1.416787,20.0,889.0,346.0,3.6516,130500.0,0,1,0,0,0,5.757225,1.049133
18705,-1.401952,2.291299,36.0,647.0,228.0,2.6944,75300.0,0,1,0,0,0,5.333333,1.052632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17834,-1.142202,0.827544,16.0,1080.0,296.0,6.1256,266900.0,1,0,0,0,0,5.415541,0.969595
16779,-1.451905,0.953810,31.0,2296.0,645.0,5.5647,268700.0,0,0,0,0,1,5.435659,1.012403
14540,1.210542,-1.272219,16.0,1377.0,413.0,4.4615,168300.0,1,0,0,0,0,4.774818,0.973366
1595,-1.257091,1.052018,35.0,352.0,132.0,6.8686,406500.0,0,0,0,1,0,6.666667,1.053030
19915,0.136572,0.313126,16.0,1150.0,361.0,4.2778,97300.0,0,1,0,0,0,6.188366,0.988920

In [19]:
housing_train

,longitude,latitude,housing_median_age,population,households,median_income,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms,average_bedrooms
9585,-0.452863,0.785455,13.0,1737.0,788.0,2.1418,0,1,0,0,0,4.620558,1.138325
17402,-0.432882,-0.322883,38.0,2601.0,747.0,2.2743,1,0,0,0,0,4.021419,1.062918
17244,-0.048251,-0.566062,39.0,1404.0,374.0,2.3681,1,0,0,0,0,3.922460,1.018717
13236,0.960781,-0.701682,16.0,949.0,289.0,8.6573,0,1,0,0,0,7.598616,0.993080
15656,-1.416938,1.005252,52.0,1504.0,1047.0,3.2059,0,0,0,1,0,3.447947,1.228271
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3531,0.516208,-0.640887,28.0,931.0,302.0,6.7415,1,0,0,0,0,7.645695,0.993377
2554,-2.301090,2.403535,33.0,656.0,236.0,2.5096,0,0,0,0,1,4.559322,0.940678
13411,1.055690,-0.734417,19.0,2482.0,642.0,2.9973,0,1,0,0,0,4.914330,0.890966
11042,0.875863,-0.856007,19.0,822.0,260.0,9.9055,1,0,0,0,0,9.830769,1.169231
10422,0.985757,-1.043069,29.0,922.0,387.0,4.5476,0,0,0,0,1,5.666667,1.005168